{% extends 'layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    {% with id='dashboard' %}
        {% include "menu.html" %}
    {% endwith %}
    <div class="ui raised segment" id="outer">
        <button class="ui middle aligned button" onclick="allStandby()">All standby</button>
        <button class="ui middle aligned button" onclick="allSense()">All sense</button>
        <button class="ui middle aligned button" onclick="allStream()">All stream</button>
    </div>
    <script>getSensors()</script>
{% endblock %}
