{% extends 'layout.html' %}
{% block title %}Events{% endblock %}
{% block content %}
    {% with id='events' %}
        {% include "menu.html" %}
    {% endwith %}
    <div class="ui stacked segment">
        <h1>Events logged by {{ sensor }}</h1>
        <div class="ui four column grid">
            {% for event in events %}
            <div class="column">
                <img class="ui image" src="data:image/jpg;base64,{{ event['captured_image'].decode() }}" alt="Event image" width="320" height="240"/> </img>
                <div>Time: {{ event['timestamp'] }} UTC</div>
                <div>Notes: {{ event['notes'] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}